*{
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
}

*{transition: all .1s ease-in;}

.forecast:hover li{
  opacity: 0.7;
}

.forecast li:hover {
  opacity: 1;
}
body{
  background-color:  rgb(43, 129, 172);
}

section{
  background-color:rgb(51, 153, 204);;
 /* width: 1340px; */
 margin: 1%;
 height: 600px;
}

h1{
 padding-top: 2%;
 font-size: 40px;
 padding-bottom: 4%;
}

.weatherForecast{
max-width: 800px;
margin-left: auto;
margin-right: auto;
margin-top: 2%;

}

ul li {
  text-align: center;
  color: aliceblue;
  list-style-type: none; /* Убираем маркеры */
  height: 100px;
 outline: solid 5px white;
 display: inline-block;
 font-size: 20px;
}

p{
  padding-top: 20px;
}

ul{
  font-size: 0;
}

.cityLisbon{
width: 50%;
}

.cityParis{
  background-color: rgb(51,204,204);
}

.cityBelgrad{
  background-color: rgb(153,102,153);
}

.cityUkraine{
background-color: rgb(194,71,71);
}

.cityTelAviv{
 background-color: rgb(226,103,74);
}

.cityCair {
  background-color: rgb(255,204,102);
}

.cityNewYork {
  background-color: rgb(153,204,153);
}

.cityNewDelphi{
background-color: rgb(102,153,153);
}

.citysanFrancisco{
  width: 50%;
  background-color: rgb(204,102,153);
}

.cityTokyo{
  background-color: rgb(51,153,102);
}

.citySydney{
  width: 100%;
  background-color: rgb(102,102,153);
}



.same{
  width: 25%;
}

.sameCity{
  width: 25%;
}


.threeSame{
  width: 25%;
}

.wi-celsius{
  font-size: 30px;
  position: relative;
  top: 5.5px;
}

i{
  padding-left: 0.5%;
}

.icon{
  font-size: 25px;
  position: relative;
  top: 2px;
  padding-left: 1%;
}

.lastP{
  font-size: 25px;
}