.ourServises > .container {
    @media  (min-width:375px) and (max-width:414px) {
        background-image: url('/Home_works/lesson16/part1/img/CaheeSection-3/iPhone.png');
    
    }
}

.blog {
    > .container {
        .content-Blog{
            .imageFirst{
                @media (min-width:375px) and (max-width:414px) {
                    background-image: url('/Home_works/lesson16/part1/img/CaheeSection-6/iPhone7-1.png'); 
                    background-repeat: no-repeat;
                    margin-left: 2%;
                
                }
               p.text {
                @media (min-width:375px) and (max-width:414px){
                    font-size: 16px;
                    margin: 70px 0px 0px 5px;
                }
                }
             
            }
            .imageSecond{
                @media (min-width:375px) and (max-width:414px) {
                    background-image: url('/Home_works/lesson16/part1/img/CaheeSection-6/iPhone7-2.png');
                    background-repeat: no-repeat;
                
                }
                p.text {
                    @media (min-width:375px) and (max-width:414px){
                        font-size: 16px;
                        margin: 70px 0px 0px 5px;
                    }
              
            }

    } 
    .imageThird{
        @media (min-width:375px) and (max-width:414px) {
            background-image: url('/Home_works/lesson16/part1/img/CaheeSection-6/iPhone7-3.png');
            background-repeat: no-repeat;
        
        }
        p.text {
            @media (min-width:375px) and (max-width:414px){
                font-size: 16px;
                margin: 70px 0px 0px 5px;
            }
      
    }
}
        }
    }
}