
.navMenu_header {
  /* margin: 0 auto; */
  height: 150px;
display: flex;
justify-content: space-between;
align-items: center;
}
.navMenu_header__Logo {
  display: flex;
}
.navMenu_header__siteNavigation ul{
  font-size: 16%;
  display: flex;
  font-family: 'Raleway-bold';
}

.navMenu_header__siteNavigation li{
  padding: 0px 40px 0px 0px;
}

.navMenu_header__siteNavigation li:last-child {
  padding: 0px;
}

a {
	position: relative;
	color:black; /*задаём цвет ссылки*/
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/

}

.navMenu_header__siteNavigation  a:before {
  display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
  height: 3px; /*задаём ширину линии*/
  top:-9px;
	background-color: #ff6033; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
}

.navMenu_header__siteNavigation  a:hover::before,
a:focus:before{
width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}