
.icon-glasses:before { content: '\e800'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-anchor:before { content: '\f13d'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */