/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

@font-face{
  font-family: Raleway-Bold;
  src: url('/Home_works/lesson13/part1/fonts/Raleway-Bold.ttf');
}



.wrapper3 {
  background-color: #70BFFF;
  height: 100vh;
  min-height: 100%;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 0 auto;
  
}

.a{
  background-image: url(/Home_works/lesson13/part1/img/tomatoSlices.png);
  display: flex;
  width: 1070px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: right;
  height: 550px;
  align-items: center;
}
.ourServises {
  display: flex;
  height: 460px;
  margin: 0 auto;
  width: 1085px;
  max-width: 1085px;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-between;
}
.categories {
max-width: 400px;
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;
flex: 1 1 auto;

}
.categories__item {
width: 100%;
background-color:white ;
height: 100px;
border-radius: 1%;
display: flex;
box-shadow: -1px 3px 10px rgba(0,0,0,0.5);;
/* justify-content: flex-end; */
}
/* анимация */
.categories__item:hover{
  opacity: 0.8;
  cursor: pointer;
  transition: 0.2s;
}
/* анимация */
.categoriesBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 306px;
  margin: 0px 0px 0px 70px;
}
.blockWidth{
  width: 346px;
 justify-content: space-between;
 margin: 0px 0px 0px 32px;
}
.categoriesText {
  font-size: 20px;
  line-height: 27px;
  font-family: 'Raleway-Bold';
}

.QualityProduct{
padding: 0px 0px 0px 5px;
}

.WellOrganized{
  padding: 0px 0px 0px 10px;
}

.categoriesText span {
  display: flex;
  justify-content: center;
}
.categoriesIcon {
font-size: 50px;
line-height: 27px;
}

.ourServices-MainText{



}

.ourServises__Text {
  font-size: 90px;
  line-height: 27px;
  font-family: 'Raleway-Bold';
  color: white;
}
