/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

/* шрифты */
@font-face{
  font-family: 'ProximaNova';

src: url('/Home_works/lesson10/part1/part2/fonts/ProximaNova/ProximaNova-Regular.ttf');
  
  
  font-style: regular;
}

@font-face{
  font-family: 'PlayfairDisplay';

src: url('/Home_works/lesson10/part1/part2/fonts/PlayfairDisplay-Regular/PlayfairDisplay-Regular.ttf');
  
  
  font-style: regular;
}

@font-face{
  font-family: 'Georgia';

src: url('/Home_works/lesson10/part1/part2/fonts/Georgia_Itlaic/georgiai.ttf');
  
  
  font-style: italic;
}

@font-face{
  font-family: 'FuturaPT';

src: url('/Home_works/lesson10/part1/part2/fonts/FuturaPT/FuturaPT-Heavy.woff');
  
  
  font-style: Heavy;
}
/*--------------------*/

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #464F54;
  }


.content {
  flex: 1 1 auto; 
  height: 855px;
}

/* 
бокс для написания заголовка */

.container{
/* max-width: 1133px; */
margin: 0 auto;
display: flex;
justify-content: flex-end;
}

.vertical_title {
width: 75%;
height: 200px;
  background-color:  #181818;
  color: aliceblue;
  display:flex;
  z-index: 100;
}
.box {
  width: 100%;
  padding: 50px 0px 50px 50px;;
}
.title {
  font-size: 15px;
  letter-spacing: 5px;
  font-family: ProximaNova;
  opacity: 0.5;
}
.title_itself {
  margin: 10px 0px 0px 0px;
  display: flex;
  font-family: PlayfairDisplay;
  line-height: 94.03px;
}

.title_itself input{
  font-size: 48px;
  background-color: #181818; 
  color: aliceblue;
}

.vertical_line{
  height: 55px;
  width: 2px;
  /* background-color: #afb1b3; */
  position: relative;
  right: 190px;
  background-color: #303030;
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  animation-duration: 1.2s;
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1.2s;
}

@keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
 
@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

input[type="text"] { 
  color: #ffffff;
 }
 input[type="text"]::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
 } 
 input[type="text"]::-moz-placeholder {
  color: rgb(255, 255, 255);
 }


.line_grow{
  display: flex;
 padding-top: 10px;
 height: 5px;
}

.horizontal_line{
  height: 3px;
  background-color:grey;
  width: 40px;
  flex-grow: 1; 
  opacity: 0.5;
}

/* навигация, инструменты для управления тектом */

.vertical_controlPanel {

  height: 75px;
  margin: 0 auto;
display: flex;
justify-content: flex-end;
}
.tool_list {
  background-color: #fbc02d;
  width: 70%;
  display: flex;
  height: 75px;
  z-index: 100;
}

.tool_listIcon{
  display: flex;
  padding: 25px 0px 0px 40px;
}

.tool {
  padding-left: 30px;
}

.tool img {
  opacity: 0.5;
}

.tool:first-child{
padding-left: 0px;
}

.tool > img:hover{
  opacity: 1;
}

.tool label > img:hover{
  opacity: 1;
}

.format_italic_white{
  padding-top: 3px;
}
/* .format_bold_white, .format_italic_white, .format_underline_white, .format_size_right, .format_text_right{
  width: 54px;
} */

/* страница с текстом для изменений */

.page_body{

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.page_main{
  height: 750px;
  width: 90%;
  background-color: white;
  z-index: 1;
  position: relative;
  bottom: 160px;
  display: flex;
}
 
 .aside_line{
  width: 2px;
  background-color:  #e8ebe8; 
  height: 100%; 
  margin: 0px 0px 0px 70px;
} 

.page_content {
  display: flex;
  /* height: 520px; */
  max-width: 80%;
  /* margin: 0 auto; */
  padding-top: 200px;
margin: 0px 0px 0px 55px;
  /* flex-direction: column; */
  flex-direction: column;
  justify-content: space-around;
}

.creator_text {
  font-size: 19.84px;
  color: #b4b4b4;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: ProximaNova;
}

.page_mainTitle{
  font-size: 77.93px;
  line-height: 73.52px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: FuturaPT;
}

.page_titleDescription{
  font-size: 30px;
  line-height: 62.44px;
  word-spacing: 8px;
  opacity: 0.5;
  font-family: Georgia;
}

.page_text {
font-size: 26.92px;
word-spacing: 6px;
line-height: 40.38px;
}

.page_text p{
padding: 35px 0px 0px 0px;
}

.page_text p:first-child{
  padding: 0;
}

.page_text p:last-child{
  padding-bottom:20px ;
}
