@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Raleway-Bold";
  src: url("/Home_works/lesson14/part2/fonts/Raleway-Bold.ttf");
}
@font-face {
  font-family: "Raleway-Light";
  src: url("/Home_works/lesson14/part2/fonts/Raleway-Light.ttf");
}
@font-face {
  font-family: "Pacifico-Regular";
  src: url("/Home_works/lesson14/part2/fonts/Pacifico-Regular.ttf");
}
@font-face {
  font-family: "Myidrad-Regular";
  src: url("/Home_works/lesson14/part2/fonts/MyriadPro-Regular.ttf");
}
.wrapperFooter .container footer .foterContact .footerText .footerTextContact .footer__title, .blog .Blog-Text .Blog-text__title, .galleryCahee .container .title, .ourServises > .container .ourServices-MainText, .aboutUs > .container .aboutUs__block .aboutUs-Text .aboutUs__block__Title, .caheeHeader .container .informationAboutaFreeDrink .informationAboutaFreeDrink__content .informationAboutaFreeDrink__title {
  font-size: 90px;
  line-height: 25px;
  font-family: "Raleway-Bold";
}

.Bottom > .containerBottom .BottomElement .Bottom__LicenseText, .wrapperFooter .container footer .foterContact .footerText .footerTextContact .footer__text, .blog .Blog-Text .Blog-text__Text, .SubscribeToUs > .container .SubscribeToUs-Text .SubscribeToUs-Text__Text, .galleryCahee .container .title .text, .aboutUs > .container .aboutUs__block .aboutUs-Text .aboutUs__block__Text p, .caheeHeader .container .informationAboutaFreeDrink .informationAboutaFreeDrink__content .informationAboutaFreeDrink__text {
  font-size: 17px;
  line-height: 27px;
  font-family: "Raleway-Light";
}

.galleryCahee .container .GalleryCahee__Foto .column-Together__Foto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.galleryCahee .container .GalleryCahee__Foto .column-2 .column-Together__Foto-2, .galleryCahee .container .GalleryCahee__Foto .column, .ourServises > .container, .ourServises, .aboutUs > .container, .aboutUs {
  display: flex;
}

.SubscribeToUs > .container .SubscribeToUs-Form, .SubscribeToUs > .container .SubscribeToUs-Text {
  display: flex;
  flex-direction: column;
}

.wrapperFooter .container footer .form .formElement .button button, .blog > .container .button button, .SubscribeToUs > .container .SubscribeToUs-Form form input[type=submit], .galleryCahee .container .GalleryCahee__Foto__button button, .caheeHeader .container .informationAboutaFreeDrink .informationAboutaFreeDrink__content .informationAboutaFreeDrink__button {
  font-size: 20px;
  font-family: "Raleway-Light";
  line-height: 27px;
  height: 55px;
  width: 200px;
  color: white;
}

.wrapperFooter .container footer .form .formElement .button button:hover, .blog > .container .button button:hover, .SubscribeToUs > .container .SubscribeToUs-Form form input[type=submit]:hover, .galleryCahee .container .GalleryCahee__Foto__button button:hover, .caheeHeader .container .informationAboutaFreeDrink .informationAboutaFreeDrink__content .informationAboutaFreeDrink__button:hover {
  box-shadow: none;
  transition: all 500ms ease;
}

.wrapperFooter, .blog, .SubscribeToUs, .galleryCahee, .ourServises, .aboutUs, .caheeHeader {
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}

.Bottom > .containerBottom, .wrapperFooter .container, .blog > .container, .SubscribeToUs > .container, .galleryCahee .container, .ourServises > .container, .aboutUs > .container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
}

.blog > .container .content-Blog .sameValues:hover, .galleryCahee .container .GalleryCahee__Foto .column-2 .column-Together__Foto-2 .column__Foto:hover, .galleryCahee .container .GalleryCahee__Foto .column .column__Foto:hover {
  box-shadow: none;
  cursor: pointer;
  transition: 0.3s;
}

.wrapperFooter .container footer .form .formElement .elementForm textarea::placeholder, .wrapperFooter .container footer .form .formElement .elementForm input::placeholder {
  padding: 0px 0px 0px 1%;
  font-size: 15px;
  color: white;
  opacity: 1;
}

.wrapperFooter .container footer .form .formElement .elementForm textarea::-webkit-input-placeholder, .wrapperFooter .container footer .form .formElement .elementForm input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
  font-family: "Raleway-Light";
}

.wrapperFooter .container footer .form .formElement .elementForm textarea:focus, .wrapperFooter .container footer .form .formElement .elementForm input:focus {
  background-color: #00C4C4;
  border-left: 5px solid #355b82;
}

.caheeHeader {
  display: flex;
  flex-direction: column;
  background-image: url("/Home_works/lesson14/part2/img/CaheeSection-1/img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 1000px;
  width: 100%;
}
@media (max-width: 900px) {
  .caheeHeader {
    max-height: 800px;
    min-height: auto;
  }
}
.caheeHeader .navMenu_header {
  justify-content: center;
  position: fixed;
  z-index: 50;
  width: 100%;
  display: flex;
  background-color: white;
  height: 100px;
}
@media (max-width: 900px) and (orientation: landscape) {
  .caheeHeader .navMenu_header {
    height: 50px;
  }
}
.caheeHeader .navMenu_header .content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 1200px;
}
.caheeHeader .navMenu_header .content .navMenu_header__Logo {
  display: flex;
  align-items: center;
}
@media (max-width: 900px) {
  .caheeHeader .navMenu_header .content .navMenu_header__Logo img {
    width: 100px;
    margin-left: 50%;
  }
}
.caheeHeader .navMenu_header .content .navMenu_header__siteNavigation {
  display: flex;
  align-items: center;
}
.caheeHeader .navMenu_header .content .navMenu_header__siteNavigation #menu__toggle {
  opacity: 0;
}
.caheeHeader .navMenu_header .content .navMenu_header__siteNavigation #menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
.caheeHeader .navMenu_header .content .navMenu_header__siteNavigation #menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
.caheeHeader .navMenu_header .content .navMenu_header__siteNavigation #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
.caheeHeader .navMenu_header .content .navMenu_header__siteNavigation #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 50%;
}
.caheeHeader .navMenu_header .content .navMenu_header__siteNavigation .menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  visibility: hidden;
  width: 26px;
  height: 50;
  height: 50px;
  height: 50p;
  cursor: pointer;
  z-index: 1;
  right: 50px;
}
@media (max-width: 900px) {
  .caheeHeader .navMenu_header .content .navMenu_header__siteNavigation .menu__btn {
    visibility: visible;
    transition: 0.1s;
  }
}
@media (max-width: 900px) and (orientation: landscape) {
  .caheeHeader .navMenu_header .content .navMenu_header__siteNavigation .menu__btn {
    top: 0;
  }
}
.caheeHeader .navMenu_header .content .navMenu_header__siteNavigation .menu__btn > span,
.caheeHeader .navMenu_header .content .navMenu_header__siteNavigation .menu__btn > span::before,
.caheeHeader .navMenu_header .content .navMenu_header__siteNavigation .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.caheeHeader .navMenu_header .content .navMenu_header__siteNavigation .menu__btn > span::before {
  content: "";
  top: -8px;
}
.caheeHeader .navMenu_header .content .navMenu_header__siteNavigation .menu__btn > span::after {
  content: "";
  top: 8px;
}
@media (max-width: 900px) {
  .caheeHeader .navMenu_header .content .navMenu_header__siteNavigation .menu__box {
    /* display: block; */
    /* position: fixed; */
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: right;
    left: auto;
    flex-direction: column;
    display: flex;
    /* justify-content: flex-end; */
    align-items: flex-end;
  }
}
@media (max-width: 900px) {
  .caheeHeader .navMenu_header .content .navMenu_header__siteNavigation .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
}
.caheeHeader .navMenu_header .content ul {
  font-size: 16px;
  display: flex;
  font-family: "Raleway-bold";
}
@media (max-width: 900px) {
  .caheeHeader .navMenu_header .content ul {
    visibility: hidden;
    transition: 0.1s;
  }
}
.caheeHeader .navMenu_header .content ul li {
  padding: 0px 40px 0px 0px;
}
@media (max-width: 900px) {
  .caheeHeader .navMenu_header .content ul li {
    padding: 0;
  }
}
.caheeHeader .navMenu_header .content ul li:last-child {
  padding: 0px;
}
.caheeHeader .navMenu_header .content ul li a {
  position: relative;
  color: black;
  /*задаём цвет ссылки*/
  cursor: pointer;
  line-height: 1;
  /*задаём высоту строки*/
  text-decoration: none;
}
.caheeHeader .navMenu_header .content ul li a::before {
  display: block;
  position: absolute;
  left: 0;
  /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0;
  /*задаём длинну линии до наведения курсора*/
  height: 3px;
  /*задаём ширину линии*/
  top: -9px;
  background-color: #ff6033;
  /*задаём цвет линии*/
  content: "";
  transition: width 0.3s ease-out;
  /*задаём время анимации*/
}
.caheeHeader .navMenu_header .content ul li a:focus::before, .caheeHeader .navMenu_header .content ul li a:hover::before {
  width: 100%;
}
.caheeHeader .container {
  min-height: 1000px;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 100%;
}
.caheeHeader .container .informationAboutaFreeDrink {
  flex: 1 1 auto;
}
@media (max-width: 900px) {
  .caheeHeader .container .informationAboutaFreeDrink {
    display: flex;
    align-items: center;
  }
}
.caheeHeader .container .informationAboutaFreeDrink .informationAboutaFreeDrink__content {
  display: flex;
  flex-direction: column;
  margin-top: 180px;
  align-items: flex-start;
  margin-top: 25%;
  height: 250px;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .caheeHeader .container .informationAboutaFreeDrink .informationAboutaFreeDrink__content {
    margin-top: 50%;
    align-items: center;
    margin: 0 auto;
  }
}
.caheeHeader .container .informationAboutaFreeDrink .informationAboutaFreeDrink__content .informationAboutaFreeDrink__title {
  font-size: 60px;
}
.caheeHeader .container .informationAboutaFreeDrink .informationAboutaFreeDrink__content .informationAboutaFreeDrink__text {
  text-align: left;
}
@media (max-width: 900px) {
  .caheeHeader .container .informationAboutaFreeDrink .informationAboutaFreeDrink__content .informationAboutaFreeDrink__text {
    text-align: center;
  }
}
.caheeHeader .container .informationAboutaFreeDrink .informationAboutaFreeDrink__content .informationAboutaFreeDrink__button {
  background-color: #ff6033;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
.caheeHeader .container .informationAboutaFreeDrink .informationAboutaFreeDrink__content .informationAboutaFreeDrink__button a {
  color: white;
}
.caheeHeader .container .informationAboutaFreeDrink .container_bottom {
  padding: 0;
  display: block;
}
.caheeHeader .container .informationAboutaFreeDrink .container_bottom .tem_Scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.aboutUs {
  min-height: 700px;
  background-color: #00BABA;
  width: 100%;
}
.aboutUs > .container {
  text-align: left;
}
.aboutUs > .container .aboutUs__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 900px) {
  .aboutUs > .container .aboutUs__block {
    flex-direction: column-reverse;
  }
}
@media (max-width: 900px) {
  .aboutUs > .container .aboutUs__block .imgRaspberry img {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 900px) {
  .aboutUs > .container .aboutUs__block .aboutUs-Text {
    margin-top: 2%;
    text-align: center;
  }
}
.aboutUs > .container .aboutUs__block .aboutUs-Text .aboutUs__block__Title {
  color: white;
  margin-bottom: 10%;
}
@media (max-width: 900px) {
  .aboutUs > .container .aboutUs__block .aboutUs-Text .aboutUs__block__Title {
    font-size: 60px;
  }
}
.aboutUs > .container .aboutUs__block .aboutUs-Text .aboutUs__block__Text p {
  color: white;
}

.ourServises {
  background-color: #70BFFF;
  min-height: 790px;
  width: 100%;
}
.ourServises > .container {
  background-image: url("/Home_works/lesson14/part2/img/CaheeSection-3/tomatoSlices.png");
  background-repeat: no-repeat;
  background-position: right;
}
.ourServises > .container .ourServises-Item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .ourServises > .container .ourServises-Item {
    flex-direction: column-reverse;
  }
}
.ourServises > .container .ourServises-Item .categories {
  width: 400px;
}
@media (max-width: 900px) {
  .ourServises > .container .ourServises-Item .categories {
    width: auto;
  }
}
.ourServises > .container .ourServises-Item .categories .categories__item {
  width: 100%;
  background-color: white;
  height: 100px;
  border-radius: 1%;
  display: flex;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 5%;
}
.ourServises > .container .ourServises-Item .categories .categories__item:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.2s;
}
.ourServises > .container .ourServises-Item .categories .categories__item .categoriesBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 20%;
}
.ourServises > .container .ourServises-Item .categories .categories__item .categoriesBlock .categoriesText {
  font-size: 20px;
  font-family: "Raleway-Bold";
  line-height: 27px;
}
.ourServises > .container .ourServises-Item .categories .categories__item .categoriesBlock .text-third {
  margin: 0px 1% 0px 0px;
}
.ourServises > .container .ourServises-Item .categories .categories__item .categoriesBlock .vertical-Line {
  display: block;
  content: "";
  width: 1px;
  height: 100px;
  background-color: black;
  margin-left: 17%;
}
.ourServises > .container .ourServises-Item .categories .categories__item .categoriesBlock .vertical-LineFirst {
  margin-left: 13%;
}
.ourServises > .container .ourServises-Item .categories .categories__item .categoriesBlock .vertical-LineThird {
  margin: 0;
}
.ourServises > .container .ourServises-Item .categories .categories__item .categoriesBlock .categoriesIcon {
  font-size: 50px;
  line-height: 27px;
  margin-right: 5%;
}
.ourServises > .container .ourServises-Item .categories .categories__item .blockWidth {
  padding: 0px 0px 0px 10%;
}
.ourServises > .container .ourServices-MainText {
  color: white;
}
@media (max-width: 900px) {
  .ourServises > .container .ourServices-MainText {
    font-size: 60px;
    margin-bottom: 20%;
  }
}
@media (max-width: 900px) and (max-width: 320px) {
  .ourServises > .container .ourServices-MainText {
    line-height: 60px;
  }
}

.galleryCahee {
  background-color: #FFE92F;
  min-height: 1536px;
  display: flex;
}
@media (max-width: 900px) {
  .galleryCahee .container .title {
    font-size: 60px;
  }
}
.galleryCahee .container .title .text {
  margin-top: 5%;
}
.galleryCahee .container .GalleryCahee__Foto {
  margin-top: 5%;
}
@media (max-width: 900px) {
  .galleryCahee .container .GalleryCahee__Foto .column {
    flex-direction: column;
  }
}
.galleryCahee .container .GalleryCahee__Foto .column .column__Foto {
  margin-right: 1.5%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
@media (max-width: 900px) {
  .galleryCahee .container .GalleryCahee__Foto .column .column__Foto {
    box-shadow: none;
    margin-right: 0;
    margin-top: 3%;
  }
}
@media (max-width: 900px) {
  .galleryCahee .container .GalleryCahee__Foto .column .column__Foto img {
    width: 250px;
  }
}
@media (max-width: 900px) {
  .galleryCahee .container .GalleryCahee__Foto .column .column-Together__Foto {
    margin: 0;
  }
}
@media (max-width: 900px) {
  .galleryCahee .container .GalleryCahee__Foto .column-2 {
    flex-direction: column;
  }
}
@media (max-width: 900px) {
  .galleryCahee .container .GalleryCahee__Foto .column-2 .column-Together__Foto-2 {
    display: block;
  }
}
.galleryCahee .container .GalleryCahee__Foto .column-2 .column-Together__Foto-2 .column__Foto {
  margin-right: 3%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  margin-top: 3%;
}
@media (max-width: 900px) {
  .galleryCahee .container .GalleryCahee__Foto .column-2 .column-Together__Foto-2 .column__Foto {
    margin: 0;
    box-shadow: none;
    margin-top: 3%;
  }
}
@media (max-width: 900px) {
  .galleryCahee .container .GalleryCahee__Foto .column-2 .column-Together__Foto-2 .column__Foto img {
    width: 250px;
  }
}
.galleryCahee .container .GalleryCahee__Foto .column-Together__Foto {
  margin-left: 1.5%;
}
.galleryCahee .container .GalleryCahee__Foto__button button {
  margin-top: 6%;
  margin-right: 3%;
  background-color: #5585A2;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
@media (max-width: 900px) {
  .galleryCahee .container .GalleryCahee__Foto__button button {
    margin-right: 0;
  }
}

.SubscribeToUs {
  min-height: 500px;
  display: flex;
}
.SubscribeToUs > .container {
  background-image: url("/Home_works/lesson14/part2/img/SubscribeToUs/blueberry.png");
  background-repeat: no-repeat;
  background-position: right;
}
.SubscribeToUs > .container .SubscribeToUs-Text {
  align-items: flex-start;
}
@media (max-width: 900px) {
  .SubscribeToUs > .container .SubscribeToUs-Text {
    color: white;
    background: rgba(88, 88, 88, 0.5);
    align-items: center;
  }
}
.SubscribeToUs > .container .SubscribeToUs-Text .SubscribeToUs-Text__title {
  font-size: 40px;
  font-family: "Raleway-Bold";
}
.SubscribeToUs > .container .SubscribeToUs-Text .SubscribeToUs-Text__Text {
  padding-top: 2%;
  text-align: left;
  font-family: "Myidrad-Regular";
  font-size: 17px;
}
@media (max-width: 1200px) {
  .SubscribeToUs > .container .SubscribeToUs-Text .SubscribeToUs-Text__Text {
    text-align: center;
  }
}
.SubscribeToUs > .container .SubscribeToUs-Form {
  justify-content: flex-start;
  align-items: flex-start;
}
.SubscribeToUs > .container .SubscribeToUs-Form form {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 900px) {
  .SubscribeToUs > .container .SubscribeToUs-Form form {
    display: block;
  }
}
@media (max-width: 414px) {
  .SubscribeToUs > .container .SubscribeToUs-Form form {
    margin-left: 5%;
  }
}
@media (max-width: 375px) {
  .SubscribeToUs > .container .SubscribeToUs-Form form {
    margin-left: 0%;
  }
}
.SubscribeToUs > .container .SubscribeToUs-Form form input::placeholder, .SubscribeToUs > .container .SubscribeToUs-Form form input[type=email] {
  font-family: "Raleway-Light";
  font-size: 15px;
  margin-top: 6%;
}
.SubscribeToUs > .container .SubscribeToUs-Form form input[type=email] {
  border: 1px solid black;
  width: 568px;
  height: 54px;
  padding-left: 3%;
}
.SubscribeToUs > .container .SubscribeToUs-Form form input[type=email]:focus {
  border: 2px solid green;
  transition: 0.1s;
}
@media (max-width: 375px) {
  .SubscribeToUs > .container .SubscribeToUs-Form form input[type=email] {
    width: 80%;
  }
}
@media (max-width: 414px) {
  .SubscribeToUs > .container .SubscribeToUs-Form form input[type=email] {
    width: 90%;
  }
}
.SubscribeToUs > .container .SubscribeToUs-Form form input[type=submit] {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  margin-left: 3%;
  background-color: #96b92c;
}
@media (max-width: 900px) {
  .SubscribeToUs > .container .SubscribeToUs-Form form input[type=submit] {
    margin-top: 3%;
  }
}
.SubscribeToUs > .container .SubscribeToUs-Form form input[type=submit]:hover {
  cursor: pointer;
}

.blog {
  min-height: 864px;
  background-color: #b07cf7;
  display: flex;
}
.blog > .container .content-Blog {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 414px) {
  .blog > .container .content-Blog {
    flex: 1 1 auto;
  }
}
.blog > .container .content-Blog .imageFirst {
  background-image: url("/Home_works/lesson14/part2/img/CaheeSection-6/img.jpg");
}
.blog > .container .content-Blog .imageSecond {
  background-image: url("/Home_works/lesson14/part2/img/CaheeSection-6/img2.jpg");
}
.blog > .container .content-Blog .imageThird {
  background-image: url("/Home_works/lesson14/part2/img/CaheeSection-6/img3.jpg");
}
.blog > .container .content-Blog .sameValues {
  width: 370px;
  height: 310px;
  color: white;
  border-radius: 2%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px -100px 20px 0px rgba(0, 0, 0, 0.5) inset;
}
@media (max-width: 414px) {
  .blog > .container .content-Blog .sameValues {
    width: 150px;
    height: 150px;
  }
}
.blog > .container .content-Blog .sameValues .image {
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15%;
  font-size: 23px;
  text-align: center;
  margin: 30px 30px;
  display: flex;
  align-items: center;
}
.blog > .container .content-Blog .sameValues .text {
  margin: 110px 0 0 20px;
  font-size: 22px;
  text-align: left;
}
@media (max-width: 900px) {
  .blog > .container .content-Blog .sameValues .text {
    margin: 70px 0 0 20px;
  }
}
.blog > .container .content-Blog .sameValues .text2 {
  margin: 20px 0 0 20px;
  color: #dedde0;
  text-align: left;
}
.blog > .container .button {
  margin: 0 auto;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 414px) {
  .blog > .container .button {
    margin-bottom: 20%;
  }
}
.blog > .container .button button {
  background-color: #f72b3b;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
.blog .Blog-Text {
  margin: 0px 0px 5% 0px;
}
.blog .Blog-Text .Blog-text__title {
  color: white;
  margin-bottom: 5%;
}
@media (max-width: 414px) {
  .blog .Blog-Text .Blog-text__title {
    font-size: 60px;
    margin-bottom: 8%;
    margin-top: 50%;
  }
}
.blog .Blog-Text .Blog-text__Text {
  color: white;
}

.wrapperFooter {
  min-height: 953px;
  display: flex;
  background-image: url("/Home_works/lesson14/part2/img/CaheeSection-7/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.wrapperFooter .container footer .foterContact .footerText .footerTextContact .footer__title {
  margin-bottom: 5%;
}
@media (max-width: 900px) {
  .wrapperFooter .container footer .foterContact .footerText .footerTextContact .footer__title {
    font-size: 60px;
  }
}
.wrapperFooter .container footer .form {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
}
.wrapperFooter .container footer .form .footerForm {
  margin: 0;
  display: flex;
}
.wrapperFooter .container footer .form .formElement {
  margin: 0;
}
.wrapperFooter .container footer .form .formElement .elementForm {
  padding-top: 3%;
  opacity: 0.8;
}
.wrapperFooter .container footer .form .formElement .elementForm:first-child {
  padding-top: 0;
}
.wrapperFooter .container footer .form .formElement .elementForm input {
  width: 500px;
  height: 50px;
  background-color: #77dbdc;
  padding-left: 20px;
}
@media (max-width: 414px) {
  .wrapperFooter .container footer .form .formElement .elementForm input {
    width: 188px;
  }
}
@media (max-width: 600px) {
  .wrapperFooter .container footer .form .formElement .elementForm input {
    width: 188px;
  }
}
.wrapperFooter .container footer .form .formElement .elementForm input[type~=text], .wrapperFooter .container footer .form .formElement .elementForm input[type~=email], .wrapperFooter .container footer .form .formElement .elementForm input[type~=tel], .wrapperFooter .container footer .form .formElement .elementForm textarea {
  font-size: 15px;
}
.wrapperFooter .container footer .form .formElement .elementForm textarea {
  width: 500px;
  height: 250px;
  background-color: #77dbdc;
  padding-left: 20px;
  padding-top: 3%;
}
@media (max-width: 414px) {
  .wrapperFooter .container footer .form .formElement .elementForm textarea {
    width: 188px;
    height: 100px;
  }
}
@media (max-width: 600px) {
  .wrapperFooter .container footer .form .formElement .elementForm textarea {
    width: 188px;
    height: 100px;
  }
}
.wrapperFooter .container footer .form .formElement .button button {
  margin-top: 5%;
  background-color: black;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
.wrapperFooter .container footer .form .formElement .button button:hover {
  background-color: teal;
}
.wrapperFooter .container footer .form .companyContacts {
  margin: 0;
  margin-left: 15%;
  text-align: left;
}
@media (max-width: 414px) {
  .wrapperFooter .container footer .form .companyContacts {
    margin-left: 0;
  }
}
@media (max-width: 900px) {
  .wrapperFooter .container footer .form .companyContacts {
    margin-left: 5%;
  }
}
@media (max-width: 667px) {
  .wrapperFooter .container footer .form .companyContacts {
    margin-left: 1%;
  }
}
.wrapperFooter .container footer .form .companyContacts .companyContactsInformation div {
  font-size: 17px;
  font-family: "Raleway-Bold";
  padding-top: 5%;
}
.wrapperFooter .container footer .form .companyContacts .companyContactsInformation div:first-child {
  padding: 0;
}
.wrapperFooter .container footer .form .companyContacts .companyContactsInformation div p {
  font-family: "Raleway-Light";
  padding-top: 2%;
}
.wrapperFooter .container footer .form .companyContacts .companyContactsInformation div p:first-child {
  padding: 0;
}

.Bottom {
  background-color: #262626;
  margin: 0;
  height: 90px;
  display: flex;
}
@media (max-width: 600px) {
  .Bottom {
    min-height: 200px;
    height: 0;
  }
}
.Bottom > .containerBottom {
  height: 90px;
}
@media (max-width: 600px) {
  .Bottom > .containerBottom {
    height: auto;
  }
}
.Bottom > .containerBottom .BottomElement {
  display: flex;
  width: 100%;
  color: white;
  opacity: 0.5;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .Bottom > .containerBottom .BottomElement {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .Bottom > .containerBottom .BottomElement .Bottom__Logo {
    margin-bottom: 5%;
    margin-top: 5%;
  }
}
.Bottom > .containerBottom .BottomElement .footerBottom__Logo, .Bottom > .containerBottom .BottomElement .footerBottom__creatorText, .Bottom > .containerBottom .BottomElement .footerBottom__LicenseText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}
.Bottom > .containerBottom .BottomElement .Bottom__Logo {
  font-family: "Pacifico-Regular";
  font-size: 25px;
}
.Bottom > .containerBottom .BottomElement .Bottom__creatorText {
  line-height: 25px;
  font-size: 15px;
  font-family: "Raleway-Light";
}
.Bottom > .containerBottom .BottomElement .Bottom__creatorText p > span {
  color: #ff2b58;
  font-size: 15px;
  font-family: "Raleway-Bold";
  opacity: 1;
}